.yellowie, .blackie {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif ;

}

.yellowie {
    background-color: yellow;
}

.blackie {
    background-color: black;
    color: white;
}